  <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
              <div class="circle feature1"><i class="fa fa-4x fa-globe wow bounceIn text-faded"></i></div>
              <h3>Web Development</h3>
              <p>Cela fait une dizaine d'années que je fais du développement web. J'ai pu travailler sur divers aspects de la création de site web, de la conception du design, jusqu'au référencement SEO.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
              <div class="circle feature2"><i class="fas fa-4x fa-palette wow bounceIn text-faded" data-wow-delay=".1s"></i></div>
              <h3>Web Design</h3>
              <p>J'aime concevoir et intégrer des templates originaux. Je leur ajoute du dynamisme et des animations avec JS/JQuery et CSS3 pour les rendres plus interactifs.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
              <div class="circle feature3"><i class="fa fa-4x fa-puzzle-piece wow bounceIn text-faded" data-wow-delay=".2s"></i></div>
              <h3>Strategic Board games</h3>
              <p>Je joue régulièrement à des jeux de plateau et je suis toujours enthousiaste à en tester de nouveaux (Catan, 7wonders, Five Tribes, Smallworld, etc.)</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
              <div class="circle feature4"><i class="fas fa-4x fa-mobile-alt wow bounceIn text-faded" data-wow-delay=".3s"></i></div>
              <h3>Mobile</h3>
              <p>Je suis aussi un grand adepte du smartphone, c'est pourquoi les aspects de rapidité, d'accessibilité et de responsive design ont une grande importance pour moi.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
              <div class="circle feature5"><i class="fa fa-4x fa-home wow bounceIn text-faded" data-wow-delay=".2s"></i></div>
              <h3>Smart Home</h3>
              <p>Je suis attiré par le secteur de la domotique, que ce soit pour des scenarii confort à domicile, ou la création d'alertes automatisées.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
              <div class="circle feature6"><i class="fab fa-4x fa-bluetooth-b wow bounceIn text-faded" data-wow-delay=".3s"></i></div>
              <h3>IoT</h3>
              <p>Je m'interesse également beaucoup aux objets connectés de toutes sortes (du bracelet Fitbit, jusqu'à la tondeuse robot Gardena)</p>
          </div>
      </div>
  </div>
