<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center borderbox">
                <h2 class="section-heading">Mon Parcours</h2>
                <p style="text-align: justify;">J'ai suivi un cursus à l’Ecole Supérieure des Sciences et Technologies de l’Ingénieur de Nancy (Polytec Nancy - ESSTIN), avec une spécialité dans le secteur de l’<strong>informatique</strong>,
                de l’<strong>automatique</strong> et de la <strong>domotique</strong>.<br>
                J'ai également suivi une formation <strong>Master ISC</strong> afin d’approfondir mes connaissances en ingénierie des systèmes. Dans la société Actimage, après plusieurs
                projets européens effectués en tant que <strong>chef de projet</strong> dans les domaines de l’informatique et de la domotique, j'ai focalisé mon expertise sur les <strong>technologies du Web</strong>.<br>
                Aujourd'hui je suis <em><strong>Senior IT Officer</strong> à <strong>ATOZ Tax Advisers</strong></em> et je m'épanoui pleinement dans le développement informatique.</p>
                <hr class="light">
                {% include about_services.html %}
            </div>
        </div>
    </div>
</section>
