
          <div class="col-md-12"><hr><h2>Articles</h2></div>
          <div class="col-md-9">
            {% for post in site.posts limit:1 %}
              {% if post.visible == true %}
              <img data-src="/img/thumbnail/{{ post.thumbnail }}" style="width:100%" alt="image {{ post.title }}" loading="lazy" class="lazyload"><br>
              <a href="{{ post.url }}" style="color:#000;">{{ post.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
          <div class="col-md-3">
            {% for post in site.posts offset:1 limit:3 %}
              {% if post.visible == true %}
              <img data-src="/img/thumbnail/{{ post.thumbnail }}" style="width:100%" alt="image {{ post.title }}" loading="lazy" class="lazyload"><br>
              <a href="{{ post.url }}" style="color:#000;">{{ post.title }}</a><br>
              {% endif %}
            {% endfor %}
          </div>
          <div class="col-md-12" style="margin-top:20px;">
              <strong style="margin-righ:10px;">Voir mes autres articles</strong>
              <a href="/blog.html" aria-label="Mon Blog"
              class="btn btn-default btn-xl wow tada text-faded" style="background-color:#F05F40;font-size: 20px;
              padding: 5px 10px;color: white;"><i class="fas fa-arrow-right"></i></a>
          </div>
