
          <div class="col-md-12"><hr><h2>Articles</h2></div>
          <div class="col-md-8">
            {% for post in site.posts limit:1 %}
              <img src="/img/thumbnail/{{ post.thumbnail }}">
              <a href="{{ post.url }}">{{ post.title }}</a>
            {% endfor %}
          </div>
          <div class="col-md-4">
            {% for post in site.posts offset:1 limit:3 %}
              <img src="/img/thumbnail/{{ post.thumbnail }}">
              <a href="{{ post.url }}">{{ post.title }}</a>
            {% endfor %}
          </div>
