<div style="min-height: 50px;background-image: linear-gradient(to right top,#403341 48%,hsla(0, 0%, 100%, 0) 50%);"></div>
  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <strong>Voir plus sur mon profil </strong>
              <a href="https://www.linkedin.com/in/nicolasambroise/" target="_blank" class="btn btn-default btn-xl wow tada">Linkedin</a>
          </div>
      </div>
  </aside>
  <div style="min-height: 50px;background-image: linear-gradient(to right top,hsla(0, 0%, 100%, 0) 48%,#403341 50%);"></div>
