			<div class="container" style="max-width:800px;">

					<form id="my-form" action="https://formspree.io/mqkqrgvg" method="POST">
						<div class="row">
							<div class="col-md-6">
								<label for="name">Votre Nom</label>
								<input type="text" name="name" id="name" placeholder="Nom *" pattern="[A-Z\sa-z]{3,50}" minlength="3" required>
							</div>
							<div class="col-md-6">
								<label for="email">Votre Email</label>
								<input type="email" name="email" id="email" placeholder="Email *" required>
							</div>
							<div class="col-md-12">
								<label for="message">Votre Message</label>
								<textarea name="message" id="message" placeholder="Message *" rows="6" minlength="20"></textarea>
							</div>
							<div class="col-md-6">
								<label for="math">Captcha : 12 + 30 </label>
								<input type="text" name="math" id="math" placeholder="Captcha *" minlength="2" required>
							</div>
							<div class="col-md-12 text-center" style="margin-top:30px;">
								<button class="btn btn-default btn-xl wow tada text-faded" type="submit" name="sendemail" id="contactBtn" disabled>Envoyer</button>
							</div>
              <p id="my-form-status"></p>
						</div>
					</form>
				</div>
