<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" style="margin-bottom:50px;">Let's Get In Touch!</h2>
                <p>N'hésitez pas à me contacter !</p>
            </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
            <a href="https://www.facebook.com/nicolas.ambroise" target="_blank" rel="noopener" aria-label="Join me on Facebook">
                <i class="fab fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Facebook</p>
            </a>
          </div>
          <div class="col-md-2 col-md-offset-1 text-center">
            <a href="https://www.linkedin.com/in/nicolasambroise/" target="_blank" rel="noopener" aria-label="Visit my Linkedin page">
            <i class="fab fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>LinkedIn</p>
            </a>
          </div>
          <div class="col-md-2 col-md-offset-1 text-center">
            <a href="https://github.com/nicolasambroise" target="_blank" rel="noopener" aria-label="Show my Github account">
            <i class="fab fa-github-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Github</p>
            </a>
          </div>

        </div>
    {% include form.html %}
</section>
