<div id="footer" class="bg-dark">
				<div class="container text-center">

					<header class="major last" id="contact">
						<h2>Get in touch</h2>
					</header>

					<p>Do you have questions on any of DAC6Connect's features or its pricing? <br>Would you like to request a demo ?</p>
					<p>Our team is on hand to answer all your queries.</p>
					<p>Simply fill out the form below and we'll be in touch as soon as possible</p>

					<form id="my-form" action="https://formspree.io/mqkqrgvg" method="POST">
						<div class="row">
							<div class="col-6 col-12-mobilep">
								<input type="text" name="name" placeholder="Name *" pattern="[A-Z\sa-z]{3,50}" minlength="3" required="">
							</div>
							<div class="col-6 col-12-mobilep">
								<input type="email" name="email" placeholder="Email *" required="">
							</div>
							<div class="col-6 col-12-mobilep">
								<input type="text" name="role" placeholder="Role/Function">
							</div>
							<div class="col-6 col-12-mobilep">
								<input type="text" name="company" placeholder="Company *" required="">
							</div>
							<div class="col-12">
								<textarea name="message" placeholder="Message *" rows="6" minlength="20"></textarea>
							</div>
							<div class="col-12" style="margin-top:30px;">
								<ul class="actions special">
									<button class="button" type="submit" name="sendemail" id="my-form-button">Send Message</button>
								</ul>
							</div>
              <p id="my-form-status"></p>
						</div>
					</form>
				</div>

				<div style="background-color:#53565A;color: #fff;width:100%;text-align:center;font-size:12px;padding: 0 15px;letter-spacing: .2px;    border-top: 1px solid #555;border-color: rgba(255,255,255,.15);">
					&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;© 2020 NicolasAmbroise.com. All rights reserved.
				</div>
			</div>
