<header id="header">
    <div class="header-content">
        <div class="header-content-inner">
              <!--<picture class="avatar">
                <source media="(min-width: 1500px)" srcset="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_full.webp" type="image/webp">
                <source media="(min-width: 1200px)" srcset="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_600px.webp" type="image/webp">
                <source media="(min-width: 991px)" srcset="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_400px.webp" type="image/webp">
                <source media="(min-width: 576px)" srcset="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_300px.webp" type="image/webp">
                <source srcset="https://www.nicolasambroise.com/drupalthemes/custom/bootstrap_nico/img/AmbroiseNicolas2019_200px.webp" type="image/webp">
                <source media="(min-width: 1500px)" srcset="https://www.nicolasambroise.com/drupal/img/AmbroiseNicolas2019_full.png">
                <source media="(min-width: 1200px)" srcset="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_600px.png">
                <source media="(min-width: 991px)" srcset="https://www.nicolasambroise.com/drupal/img/AmbroiseNicolas2019_400px.png">
                <source media="(min-width: 576px)" srcset="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_300px.png">
                <img alt="nicolas ambroise picture" data-entity-type="" data-entity-uuid="" src="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_200px.png">
             </picture>-->
            <h1>Nicolas AMBROISE</h1>
            <hr>
            <p>Senior IT Officer / Frontend Web Developer</p>
            <div class="icon-scroll"></div>
        </div>
    </div>
</header>
