<header id="header">
    <div class="header-content">
        <div class="header-content-inner">
              <!--<picture class="avatar">
                <source media="(min-width: 1500px)" srcset="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_full.webp" type="image/webp">
                <source media="(min-width: 1200px)" srcset="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_600px.webp" type="image/webp">
                <source media="(min-width: 991px)" srcset="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_400px.webp" type="image/webp">
                <source media="(min-width: 576px)" srcset="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_300px.webp" type="image/webp">
                <source srcset="https://www.nicolasambroise.com/drupalthemes/custom/bootstrap_nico/img/AmbroiseNicolas2019_200px.webp" type="image/webp">
                <source media="(min-width: 1500px)" srcset="https://www.nicolasambroise.com/drupal/img/AmbroiseNicolas2019_full.png">
                <source media="(min-width: 1200px)" srcset="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_600px.png">
                <source media="(min-width: 991px)" srcset="https://www.nicolasambroise.com/drupal/img/AmbroiseNicolas2019_400px.png">
                <source media="(min-width: 576px)" srcset="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_300px.png">
                <img alt="nicolas ambroise picture" data-entity-type="" data-entity-uuid="" src="https://www.nicolasambroise.com/drupal/themes/custom/bootstrap_nico/img/AmbroiseNicolas2019_200px.png">
             </picture>-->
            <h1>Nicolas AMBROISE</h1>
            <hr>
            <p>Senior IT Officer / Frontend Web Developer</p>
            <div class="icon-scroll"></div>
        </div>
      </div>
    	<div class="divider-wrap " style="height:200px;" data-front="" data-style="triangle" data-position="bottom">
    		<svg class="divider" fill="#f9f7f1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
    		<polygon points="501 53.27 0.5 0.56 0.5 100 1000.5 100 1000.5 0.66 501 53.27"></polygon></svg>
    	</div>
</header>
