<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nicolas AMBROISE - Développeur Web Luxembourg.
	   IT Consultant pour créer et améliorer votre site web. Web front-end et CMS Drupal">
	   <meta name="author" content="Nicolas AMBROISE">

    <title>Nicolas AMBROISE - Développeur Web Luxembourg</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

      <!-- Open graph -->
  	<meta property="og:title" content="Nicolas AMBROISE - Développeur Web Luxembourg">
  	<meta property="og:site_name" content="Nicolas AMBROISE">
  	<meta property="og:url" content="nicolasambroise.com">
  	<meta property="og:description" content="Nicolas AMBROISE - Développeur Web Luxembourg. IT Consultant pour créer et améliorer votre site web. Web front-end et CMS Drupal">
  	<meta property="og:type" content="profile">
  	<meta property="og:image" content="/img/favicon/android-icon-192x192.png">
  	<meta property="og:locale" content="fr_FR">

  	<!-- Twitter -->
  	<meta name="twitter:card" content="summary">
  	<meta name="twitter:site" content="@nicolasambroise">
  	<meta name="twitter:creator" content="@nicolasambroise">
  	<meta name="twitter:url" content="https://nicolasambroise.com">
  	<meta name="twitter:title" content="Nicolas AMBROISE - Développeur Web Luxembourg">
  	<meta name="twitter:description" content="Nicolas AMBROISE - Développeur Web Luxembourg. IT Consultant pour créer et améliorer votre site web. Web front-end et CMS Drupal">
  	<meta name="twitter:image" content="/img/favicon/android-icon-192x192.png">

        <!-- Critical -->
       <link rel="stylesheet" href="/css/critical.css" type="text/css">
         <!-- Preload -->
       <link rel="preload" href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Poppins:300&display=swap" as="style" onload="this.rel='stylesheet'">
       <link rel="preload" href="/css/main.css" as="style" onload="this.rel='stylesheet'">
       <link rel="preload" href="/css/custom.css" as="style" onload="this.rel='stylesheet'">

     	<!-- NoScript -->
     	<noscript>
     	   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Poppins:300&display=swap" type="text/css">
         <link rel="stylesheet" href="/css/main.css" type="text/css">
         <link rel="stylesheet" href="/css/custom.css" type="text/css">
     	</noscript>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% feed_meta %}
    {% seo %}

</head>
