<header id="header">
    <div class="header-content">
        <div class="header-content-inner">
          <div id="avatar">
              <picture>
                <source media="(min-width: 1680px)" srcset="img/avatar/AmbroiseNicolas2020Square300.webp" type="image/webp">
                <source media="(min-width: 1200px)" srcset="img/avatar/AmbroiseNicolas2020Square200.webp" type="image/webp">
                <source media="(min-width: 767px)" srcset="img/avatar/AmbroiseNicolas2020Square150.webp" type="image/webp">
                <source srcset="img/avatar/AmbroiseNicolas2020Square100.webp" type="image/webp">
                <source media="(min-width: 1680px)" srcset="img/avatar/AmbroiseNicolas2020Square300.png">
                <source media="(min-width: 1200px)" srcset="img/avatar/AmbroiseNicolas2020Square200.png">
                <source media="(min-width: 767px)" srcset="img/avatar/AmbroiseNicolas2020Square150.png">
                <img alt="nicolas ambroise picture" data-entity-type="" data-entity-uuid="" src="img/avatar/AmbroiseNicolas2020Square100.png">
             </picture>
            </div>
            <h1>Nicolas AMBROISE</h1>
            <hr>
            <p>Senior IT Officer / Frontend Web Developer</p>
            <div class="icon-scroll"></div>
        </div>
      </div>
    	<div class="divider-wrap " style="height:200px;" data-front="" data-style="triangle" data-position="bottom">
    		<svg class="divider" fill="#f9f7f1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
    		<polygon points="501 53.27 0.5 0.56 0.5 100 1000.5 100 1000.5 0.66 501 53.27"></polygon></svg>
    	</div>
</header>
