<section id="timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center borderbox">
                <h2 class="section-heading">Mon Expérience</h2>
                <div class="main-timeline"><!-- start experience ATOZ section-->
                  <div class="timeline">
                  <div class="icon">&nbsp;</div>

                  <div class="date-content">
                  <div class="date-outer"><span class="date"><span class="year ystart">2017&nbsp;-</span> <span class="year yend">Now</span> </span></div>
                  </div>

                  <div class="timeline-content" style="text-align:left;">
                  <h5 class="title">Senior IT Officer - ATOZ</h5>

                  <ul><li>Gestion de projets</li>
                  	<li>Dév. Website CMS Drupal&nbsp;8</li>
                  	<li>Dév. app Angular + JAVA Spring</li>
                  </ul><br>
                  </div>
                  </div>

                  <div class="timeline">
                  <div class="icon">&nbsp;</div>

                  <div class="date-content">
                  <div class="date-outer"><span class="date"><span class="year ystart">2015 -</span> <span class="year yend">2017</span></span></div>
                  </div>

                  <div class="timeline-content" style="text-align:left;">
                  <h5 class="title">IT Officer - ATOZ</h5>

                  <ul><li>Dév. Website CMS Drupal&nbsp;7 & 8</li>
                  	<li>Dév. app Jsp + JAVA Spring</li>
                  	<li>Référencement et Analyse SEO</li>
                  	<li>Support utilisateur</li>
                  </ul></div>
                  </div>
                  <!-- end experience Udacity section--><!-- start experience Actimage section-->

                  <div class="timeline">
                  <div class="icon">&nbsp;</div>

                  <div class="date-content">
                  <div class="date-outer"><span class="date"><span class="year ystart">2011 -</span> <span class="year yend">2015</span> </span></div>
                  </div>

                  <div class="timeline-content" style="text-align:left;">
                  <h5 class="title">Développeur Web / Chef de projet R&amp;D - Actimage</h5>

                  <ul><li class="description">Dév. Website CMS (Drupal&nbsp;7, Wordpress, etc.)</li>
                    <li class="description">Dév. Smartphone (Native & Web app)</li>
                  	<li class="description">Chef de projet sur des projets Européens (FP7, ITEA, AAL...)</li>
                    <li class=description">Identification de consortium Européens</li>
                  </ul></div>
                  </div>
                </div>
                {% include timeline_btn.html %}
            </div>
        </div>
    </div>
</section>
