<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center borderbox">
                <h2 class="section-heading">Mon Expérience</h2>
                <hr class="light">
                <div class="main-timeline"><!-- start experience ATOZ section-->
                  <div class="timeline">
                  <div class="icon">&nbsp;</div>

                  <div class="date-content">
                  <div class="date-outer"><span class="date"><span class="year ystart">2017&nbsp;-</span> <span class="year yend">Now</span> </span></div>
                  </div>

                  <div class="timeline-content" style="text-align:left;">
                  <h5 class="title">Senior IT Officer - ATOZ</h5>

                  <ul><li>Gestion de projets</li>
                  	<li>Développement d’application Web&nbsp;-&nbsp;CMS Drupal&nbsp;8 et&nbsp;Angular</li>
                  	<li>Développement d'application métier en JAVA Spring</li>
                  </ul></div>
                  </div>
                  <!-- end experience ATOZ section--><!-- start experience Udacity section-->

                  <div class="timeline">
                  <div class="icon">&nbsp;</div>

                  <div class="date-content">
                  <div class="date-outer"><span class="date"><span class="year ystart">2015 -</span> <span class="year yend">2017</span></span></div>
                  </div>

                  <div class="timeline-content" style="text-align:left;">
                  <h5 class="title">IT Officer - ATOZ</h5>

                  <ul><li>Développement d’application Web HTML5/CSS3/JS/PHP/SQL -&nbsp;CMS Drupal 7 &amp; 8</li>
                  	<li>Développement d'application métier en JAVA</li>
                  	<li>Intégration web et retouche de template avec Photoshop</li>
                  	<li>Référencement et Analyse SEO</li>
                  	<li>Support utilisateur</li>
                  	<li>Cablage réseau</li>
                  </ul></div>
                  </div>
                  <!-- end experience Udacity section--><!-- start experience Actimage section-->

                  <div class="timeline">
                  <div class="icon">&nbsp;</div>

                  <div class="date-content">
                  <div class="date-outer"><span class="date"><span class="year ystart">2011 -</span> <span class="year yend">2015</span> </span></div>
                  </div>

                  <div class="timeline-content" style="text-align:left;">
                  <h5 class="title">Développeur Web / Chef de projet R&amp;D - Actimage</h5>

                  <ul><li class="description">Développement d’application Web en HTML5/CSS3/JS/PHP/SQL -&nbsp;&nbsp;CMS (Drupal 7/Wordpress/...)</li>
                  	<li class="description">Intégration web et retouche de template avec Photoshop</li>
                  	<li class="description">Identification et construction de consortiums européens. Montages de dossiers (FP7 / AAL / ITEA2 /eurostar / H2020)</li>
                  	<li class="description">Chef de projet technique sur les projets Européens GUARANTEE (Réf : ITEA2 n°08018), CARE@HOME (Réf : AAL Call3) et M3W (Réf : AAL Call2). Initiateur du projet de R&amp;D ActiHome et participation aux projets Actelin, SALIG++ (Réf : AAL Call5) et MoSHCA (Réf : ITEA2 n°11027)</li>
                  	<li class="description">Rédaction de spécifications techniques et fonctionnelles</li>
                  </ul></div>
                  </div>
                </div>

            </div>
        </div>
    </div>
</section>
