<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include about.html %}

  <div style="min-height: 50px;background-image: linear-gradient(to right top, #F05F40 48%,hsla(0, 0%, 100%, 0) 50%);"></div>
  <div style="background-color:#F05F40;">
    {% include competences.html %}
  </div>
  <div style="min-height: 50px;background-image: linear-gradient(to right top,hsla(0, 0%, 100%, 0) 48%,#F05F40 50%);"></div>


  {% include timeline.html %}
  {% include certif.html %}

  {% include articles.html %}
  {% include project.html %}
  <!--{% include portfolio.html %}-->
  <div class="divider-wrap " style="height: auto;padding-top: 0px;margin-bottom: -10px;" data-front="" data-style="triangle" data-position="top">
    <svg class="divider" fill="#433440" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
    <polygon points="501 53.27 0.5 0.56 0.5 100 1000.5 100 1000.5 0.66 501 53.27"></polygon></svg>
  </div>
  <div class="bg-dark" style="background-color:#433440;">
     {% include contact.html %}
  </div>
  {% include copyright.html %}
  {% include scripts.html %}
</body>

</html>
