<!DOCTYPE html>
<html lang="fr">

{% include head.html %}

<body id="page-post">
  {% include nav.html %}


  <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 borderbox">
                <h1>{{ page.title }}</h1>
                <p>{{ page.date | date_to_string }} - Nicolas AMBROISE</p>
								{{ content }}
            </div>
          </div>
        </div>
  </section>
  {% include copyright.html %}
  {% include scripts.html %}
</body>

</html>
