<!DOCTYPE html>
<html lang="fr">

{% include head.html %}

<body id="page-post">
  {% include nav.html %}


  <section>
    <div class="container">
        <div class="row borderbox">
            <div class="col-lg-10 col-lg-offset-1">
              <div class="col-md-3">
                  <img src="/img/thumbnail/{{ page.thumbnail }}" style="width:100%;max-width:400px;">
              </div>
              <div class="col-md-9">
                  <h1>{{ page.title }}</h1>
                  <p>{{ page.date | date_to_string }} - Nicolas AMBROISE</p>
              </div>
              <div class="col-md-12" style="margin-top:25px;">
                {{ content }}
              </div>
            </div>
          </div>
        </div>
  </section>
  {% include copyright.html %}
  {% include scripts.html %}
</body>

</html>
